.align-left {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.align-right {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/*se voglio annullare l'effetto di float su un elemento: */
.clear-me {
    clear: both;
    /*clear supporta left (non affiancare nulla a sinistra), right o both */ 
}